<!DOCTYPE html>
<meta name = "format-detection" content = "telephone=no">
<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
<meta charset="UTF-8" >
<meta name="keywords" content="wind,spray lake">
<html>
<head>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37479784-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
<h3> Currently fake data only. This is NOT real data from Spray Lakes </h3>
<p>
{% if expired %}
Sensor is not reporting data <br/>
{% else %}
Wind: <strong> {{ curWind|floatformat:0 }} knots </strong> gusting to {{maxWind|floatformat:0 }} <br/>
{% endif %}
Updated {{ time|timesince }} ago <br/>
Battery: {{ voltage|floatformat:1 }} V <br/>
</p>
<details>
	<summary> More Info: </summary>
	<p> This system is still in the prototype stage and the data is not calibrated. Don't expect it to be correct. <p/>
    <p> To learn more about this website, see <a href="http://doc.spraywind.com/">http://doc.spraywind.com/</a> </p>
    <p>Battery: {{ voltage }} V <br/> </p>
    <p>Sat Signal: {{ satSignal }}</p>
    <p>Sat TX Tries: {{ satTxRetry }}</p>
</details>

<p>
<small>
Brought to you by Cullen Jennings and <a href="http://rockymountainsnowkite.ca/rms.html">Rocky Mountain Snow Kite</a> 
</small>
</p>

</body>
</html>
