<!DOCTYPE html>
<meta name = "format-detection" content = "telephone=no">
<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
<meta charset="UTF-8" >
<meta name="keywords" content="wind,spray lake">
<html>
<head>

</head>
<body>
<p> 
Wind: <strong> {{ curWind|floatformat:0 }} km/h </strong><br/>
Updated {{ time|timesince }} ago <br/>
In the previous hour: 
<p/>
<ul>
   <li> Gusts: {{ maxWind|floatformat:0 }} km/h </li>
   <li> Avg  : {{ avgWind|floatformat:0 }} km/h </li>
   <li> Lulls: {{ minWind|floatformat:0 }} km/h </li>
</ul>
<p> 
Temperature: {{ temperature|floatformat:1 }} C 
<p/>
<details>
	<summary> More Info: </summary>
	<p> 
			Battery: {{ voltage|floatformat:2 }} V <br>
			This system is still in the prototype stage and the data is not calibrated. Don't expect it to be correct. 
    <p/>
    <p> 
    		To learn more about this website, see <a href="http://doc.spraywind.com/">http://doc.spraywind.com/</a> 
    </p>
</details>

<p> 
	<small>
		Brought to you by Cullen Jennings and <a href="http://rockymountainsnowkite.ca/rms.html">Rocky Mountain Snow Kite</a> 
	</small>
</p>

</body>
</html>
